h3{text-align:center;
  margin-bottom:10px;}
form{
	width:90%;
	margin:auto;
	padding:25px;
	border:1px solid #ddd;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	gap:20px;
}
button{
	background-color:blue;
	  color:white;
	grid-column:1/2;
	width:100px;
	padding:7px;
	border-radius:5px;
}
#conditions-checkbox{
	grid-column:1/2;
}
.checkbox label{
	width:auto;
}
.checkbox input{
	margin:0;
}
